@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";


html,
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
body > footer {
    margin-top: auto;
}

.mainsplash {
    background-image: url("https://images.unsplash.com/photo-1529156069898-49953e39b3ac?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2064&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.herotitle{
    text-shadow: 1px 1px 2px black;
}

.herosubtitle{
    color:hsl(171, 100%, 41%)!important;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 2px black;
}

.button { 
    transition: all .15s ease-in-out; 
}
.button:hover { 
    transform: scale(1.1); 
}

.navbar-item logo{
    font-weight: bold;
}

.logotext{
    font-weight: bold;
}

.supage{
    margin: auto;
    width: 900px;
    /* height: 1080px; */
}

.suloginbox{
    text-align: center;
    height: 250px;
}

.footer{
    margin-top: auto;
}

h2{
    column-span: all;
}

