{% extends 'main.html' %} 
{% block content %}
<div class="container">
  <div class="notification is-warning">
    <div class="title">Donate</div>

    <!-- First Name -->
    <div class="field" style="line-height:2rem;">
      <label class="label">First Name</label>
      <p class="control has-icons-left has-icons-right">
        <input class="input" type="text" placeholder="First Name" autofocus="" name="first_name" maxlength="30"
          required="" id="id_first_name" />
        <span class="icon is-small is-left">
          <i class="fas fa-f"></i>
        </span>
      </p>
    </div>

    <!-- Last Name -->
    <div class="field">
      <label class="label">Last Name</label>
      <p class="control has-icons-left has-icons-right">
        <input class="input" type="text" placeholder="Last Name" name="last_name" maxlength="30" required=""
          id="id_last_name" />
        <span class="icon is-small is-left">
          <i class="fas fa-l"></i>
        </span>
      </p>
    </div>

    <!-- Email -->
    <div class="field">
      <label class="label">Email</label>
      <p class="control has-icons-left has-icons-right">
        <input class="input" type="email" placeholder="Email" name="email" maxlength="60" required="" id="id_email" />
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
      </p>
    </div>

    <!-- Phone Number -->
    <div class="field">
      <label class="label">Phone Number</label>
      <p class="control has-icons-left has-icons-right">
        <input class="input" type="tel" pattern="[0-9]{10}" placeholder="3061234567" name="phone" maxlength="10"
          required="" id="id_phone" />
        <span class="icon is-small is-left">
          <i class="fas fa-phone"></i>
        </span>
      </p>
    </div>

    <!-- Credit Card Number -->
    <div class="field">
      <label class="label">Credit Card Number</label>
      <p class="control has-icons-left has-icons-right">
        <input class="input" type="tel" pattern="[0-9]{10}" placeholder="1212343467678098" name="creditCard" maxlength="16"
          required="" id="id_credit_card" />
        <span class="icon is-small is-left">
          <i class="fas fa-credit-card"></i>
        </span>
      </p>
    </div>

    <!-- Name on Card -->
    <div class="field" style="line-height:2rem;">
      <label class="label">Name on Card</label>
      <p class="control has-icons-left has-icons-right">
        <input class="input" type="text" placeholder="Name on Card" autofocus="" name="name_on_card" maxlength="30"
          required="" id="id_name_on_card" />
        <span class="icon is-small is-left">
          <!-- <i class="fas fa-f"></i> -->
          <i class="fa-solid fa-user"></i>
        </span>
      </p>
    </div>

    <!-- End Date -->
    <div class="field">
      <label class="label">End Date</label>
      <p class="control has-icons-left has-icons-right">
        <!--End Date Month (MM)-->
        <input autocomplete="off" class="exp" id="month" maxlength="2" pattern="[0-9]*" inputmode="numerical" 
        placeholder="MM" type="text" />
        <!--End Date Year (YY)-->
        <input autocomplete="off" class="exp" id="year" maxlength="2" pattern="[0-9]*" inputmode="numerical" 
        placeholder="YY" type="text" />
      </p>
    </div>

    <!-- CVV -->
    <div class="field">
      <label class="label">CVV</label>
      <p class="control has-icons-left has-icons-right">
        <input class="input" type="tel" pattern="[0-9]{10}" placeholder="698" name="cvv" maxlength="3"
          required="" id="id_cvv" />
      </p>
    </div>

    <!--Donate Button-->
    <div class="field">
      <p class="control">
        <br style="display:block; margin: 5px 0;">
        <button class="button is-warning is-light">Donate</button>
      </p>
    </div>

  </div>
  
</div>
{% endblock content %}
