{% extends 'main.html'%}

{% block content%}
<section class="hero is-medium is-info has-background mainsplash">
  <div class="hero-body ">
    {% if request.user.is_authenticated %}
    <p class="title is-size-1 herotitle">Welcome, {{request.user}}!</p>
    {% else %}
    <p class="title is-size-1 herotitle">Live With Peace Of Mind
    </p>
    {% endif %}
    <p class="subtitle herosubtitle title is-size-2">We're here for you when times are tough</p>
  </div>
</section>

<section class="section">
  <div class="tile is-ancestor">

    <div class="tile is-parent is-6">
      <article class="tile is-child box">
        <p class="title">Consider donating</p>

        <div class="content">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor
            vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
          <br>
          <a class="button is-primary" href="{% url 'donate' %}">Read more</a>
        </div>
      </article>
    </div>
    
    <div class="tile is-parent is-6">
      <article class="tile is-child box">
        <p class="title">Volunteer</p>
        <div class="content">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor
            vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
          <br>
          <a class="button is-primary" href="{% url 'volunteer' %}">Read more</a>
        </div>
      </article>
    </div>
  </div>
</section>

{% endblock content%}