{% extends 'main.html'%}

{% block content%}
<section class="hero is-medium is-info has-background mainsplash">
  <div class="hero-body ">
    {% if request.user.is_authenticated %}
    <p class="title is-size-1 herotitle">Welcome, {{request.user}}!</p>
    {% else %}
    <p class="title is-size-1 herotitle">Live With Peace Of Mind
    </p>
    {% endif %}
    <p class="subtitle herosubtitle title is-size-2">We're here for you when times are tough</p>
  </div>
</section>

<section class="section">
  <div class="tile is-ancestor">

    <div class="tile is-parent is-6">
      <article class="tile is-child box">
        <p class="title">Consider donating</p>

        <div class="content">
          <p>Volunteering can indeed prove to be beneficial for us and it can even help you become a better person in the process and we will always be able to remember the support we brought others when they were at a time of need.</p>
          <br>
          <a class="button is-primary" href="{% url 'donationpage' %}">Read more</a>
        </div>
      </article>
    </div>
    
    <div class="tile is-parent is-6">
      <article class="tile is-child box">
        <p class="title">Volunteer</p>
        <div class="content">
          <p>Help people around the community get enough to eat!<br>Your gift will be used to touch the lives of families around the world experiencing hunger.</p>
          <br>
          <a class="button is-primary" href="{% url 'volunteer' %}">Read more</a>
        </div>
      </article>
    </div>
  </div>
</section>

{% endblock content%}