{% extends 'main.html'%}

{% block content%}

<body>
    <div></div>
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class= "column is-4 is">
                    <form action="" class="box">
                        <div class="field">
                            <p class="title">Login</p>
                                <br>
                            <label for="" class="label">
                                Email:
                                <i class="fa fa-address-book" aria-hidden="true"></i>

                            </label>
                            <div class="control has-icons-left">
                                <input type="email" class="input" placeholder="email@example.com">
                                <span class="icon is-small is-left"></span>
                                <i class="fa fa-envelope"></i>
                                <br>
                                <br>
                                <label for="" class="label">
                                    Password:
                                <input type="Password" class="input" placeholder="Secret Password 123">
                                <br>
                                <br>
                                <br>
                                <div class="buttons">
                                    <button class="button is-link">Login</button>
                                  </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>


{% endblock content%}