{% extends 'main.html'%}

{% block content%}

<body>
    <div class="hero-body mainsplash">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-4 is">
                    <form method="POST" action="" class="box">
                        {% csrf_token %}

                        <p class="title">Login</p>
                        <label for="" class="label">
                        Username
                        </label>
                        <input type="text" name="username" class="input" placeholder="username">

                        <br>
                        <br>

                        <label for="" class="label">
                        Password
                        </label>
                        <input type="Password" name="password" class="input" placeholder="*****">

                        <br>
                        <br>
                        <button type="submit" value="Login" class="button is-link">Login</button>
                        <hr>
                        <h1>Need to register? <a href="/signup"> Sign up </a></h1>

                    </form>
                </div>
            </div>
        </div>
    </div>
</body>


{% endblock content%}