{% extends 'main.html'%}

{% block content%}

{% if messages %}
<article class="message is-danger" id="delete">
    <div class="message-header">
      <p>Attention</p>
      <button class="delete" aria-label="delete" onclick="myFunction()"></button>
    </div>
    <div class="message-body">
        <ul class="messages">

            {% for message in messages %}
            <li style="text-align:center;"> {{ message }}</li>
            {% endfor %}
        </ul> 
    </div>
</article>

{% endif %}


<div class="hero-body mainsplash">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-4 is">
                <form method="POST" action="" class="box">
                    {% csrf_token %}

                    <p class="title">Login</p>
                    <hr>
                    <label for="" class="label">
                    Username
                    </label>
                    <div class="field">
                        <p class="control has-icons-left ">
                            <input class="input" type="text" name="username" type="email" placeholder="Username">
                            <span class="icon is-small is-left">
                            <i class="fas fa-user"></i>
                            </span>
                        </p>
                    </div>
                    <label for="" class="label">
                    Password
                    </label>
                    <div class="field">
                        <p class="control has-icons-left">
                            <input type="Password" name="password" class="input" type="password" placeholder="Password">
                            <span class="icon is-small is-left">
                            <i class="fas fa-lock"></i>
                            </span>
                        </p>
                    </div>
                    <br>
                    <button type="submit" value="Login" class="button is-link">Login</button>
                    <hr>
                    <h1>Need to register? <a href="register/"> Sign up </a></h1>
                </form>
            </div>
        </div>
    </div>
</div>



{% endblock content%}