{% extends 'main.html'%}

{% if form.errors %}
  <div class="notification is-warning">
  <button class="delete"></button>
  There was an error with your submittion, please try again
  </div>
{% endif %}


{% block content%}

<section class="section supage">
  <div class="tile is-ancestor" style="line-height: 2.3;">
      <form class="tile is-child box" method="POST" action="{% url 'signup' %}">
        {% csrf_token %}
        <p class="title">Sign up</p>
        
        <div class="content">
          {% comment %} add here {% endcomment %}
          <div class="field">
            {{form}}
          <br>
          
          <div class="field">
            <div class="control">
              <label class="checkbox">
                <input type="checkbox">
                I agree to the <a href="#">terms and conditions</a>
              </label>
            </div>
          </div>
          <br>
          <div class="field is-grouped">
            <div class="control">
              <button type="submit" value="Login" class="button is-link">Submit</button>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="tile is-parent is-5">
      <article class="tile is-child box suloginbox">
        <p class="title has-text-centered">Already have an account?</p>
        <div class="content">

          <p> Click here to log in</p>
          <a class="button is-primary" href="/login">
            Log in
          </a>
          
        </div>
      </article>
    </div>
  </div>
</section>
   



{% endblock content%}
