{% extends 'main.html' %} {% block content %}
{% load static%}
<div class="columns">
  <div class="column">
    <div class="box">
      <img src="{% static 'images/milk.png' %}">
      <h6>Milk 2%</h6>
      <hr>
      <nav class="level">
        <div class="level-item has-text-centered">
          <div>
            <div class="buttons ">
              <a class="button" href="#"> View Info</a>
              <button class="button is-primary">Add to cart</button>
            </div>
          </div>  </div> </div></div>
  <div class="column">
    <div class="box">
      <img src="{% static 'images/fruits.png' %}">
      <h6>Fruits</h6>
      <hr>
      <nav class="level">
        <div class="level-item has-text-centered">
          <div>
            <div class="buttons ">
              <a class="button" href="#"> View Info</a>
              <button class="button is-primary">Add to cart</button>
            </div>
          </div>  </div> </div></div>
  <div class="column">
    <div class="box">
      <img src="{% static 'images/vegetables.png' %}">
      <h6>Vegetables</h6>
      <hr>
      <nav class="level">
        <div class="level-item has-text-centered">
          <div>
            <div class="buttons ">
              <a class="button" href="#"> View Info</a>
              <button class="button is-primary">Add to cart</button>
            </div>
          </div>  </div> </div></div>
  <div class="column">
    <div class="box">
      <img src="{% static 'images/cereal.png' %}">
      <h6>Cereal</h6>
      <hr>
      <nav class="level">
        <div class="level-item has-text-centered">
          <div>
            <div class="buttons ">
              <a class="button" href="#"> View Info</a>
              <button class="button is-primary">Add to cart</button>
            </div>
          </div>  </div> </div></div>
</div>

{% endblock content %}
