{% extends 'main.html' %} {% block content %}
{% load static%}


<div class="columns">
  <div class="column-item is-one-half">
  {% for product in products %}
    <div class="box">
      <div class="box-item has-text-centered">
        <img src="{% static 'images/milk.png' %}" width="262">
        <h6>{{product.name}}</h6>
        <hr>
        <nav class="level">
          <div class="level-item has-text-centered">
          <div>
            <div class="buttons ">
              <a class="button" href="#"> View Info</a>
              <button class="button is-primary">Add to cart</button>
            </div>
        </div>  </div> {% endfor %}</div></div>
        <div class="column-item is-one-half">
        </div>

      </div>

{% endblock content %}
