{% extends 'main.html' %} {% block content %}
{% load static%}
<div class="container">
    <div class="columns is-multiline">
        {% for product in products %}
        <div class="column is-one-quarter" style="display: block;">
            <article class="tile is-child box">
                <figure class="image is-128x128 is-justify-content-center is-flex">
                    <img class="thumbnail" src="{{product.image.url}}">
                    <script>console.log({{ product.image.url }})</script>
                </figure>
                <hr>
                <h3 class="title">{{ product.name }}</h3>
                <small style="font-size:10px;">30 cal.</small>
                <p class="subtitle">Item description.</p>
                <div class="buttons ">
                    <button class="button is-primary">Add to cart</button>
                </div>
            </article>
        </div>

        {% endfor %}
    </div>
</div>



{% endblock content %}