{% extends 'main.html' %} {% block content %}
{% load static%}
<div class="container">
    <div class="columns is-multiline">
        {% for product in products %}
        <div class="column is-one-quarter" style="display: block;">
            <article class="tile is-child box">
                <figure class="image is-128x128">
                    <img class="thumbnail"  src="{{product.images.url}}">
                </figure>
                <h3>{{ product.name }}</h3>
                <p class="subtitle">lamsdg'piasdgjasdg</p>
                <div class="buttons ">
                    <a class="button" href="#"> View Info</a>
                    <button class="button is-primary">Add to cart</button>
                </div>
            </article>
        </div>

        {% endfor %}
    </div>
</div>



{% endblock content %}