{% extends 'main.html' %} {% block content %}
{% load static %}
{% if request.user.is_authenticated %}
<div class="container is-fluid">
    <div class="notification is-secondary">
        <div class="tile is-ancestor">
            <div class="tile is-ancestor">
                <div class="tile is-vertical is-parent">
                    <div class="tile is-child box">
                        <p class="title">Order</p>
                        <hr>
                        <div class="container">
                            <div class="columns is-multiline">
                                {% for product in products %}
                                <div class="column is-one-third" style="display: block;">
                                    <article class="tile is-child box">
                                        <figure class="image is-128x128 is-flex is-centered">
                                            <img class="image " src="{{product.image.url}}">
                                            <script>console.log({{ product.image.url }})</script>
                                        </figure>
                                        <hr>
                                        <h3 class="title is-5">{{ product.name }}</h3>
                                        <p class="subtitle is-6">Item description.</p>
                                        <p class="tag subtitle is-6"
                                            style="font-size:10px; color: hsl(171, 100%, 41%)!important;">30
                                            cal.</small>
                                        <div class="buttons ">
                                            <button class="button is-primary">Add to cart</button>
                                        </div>
                                    </article>
                                </div>

                                {% endfor %}
                            </div>
                        </div>
                    </div>

                </div>
                <div class="tile is-3 is-parent" style="max-height: 900px;">
                    <div class="tile is-child box">
                        <p class="title">Checkout</p>
                        <hr>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper diam at erat pulvinar,
                            at pulvinar felis blandit. Vestibulum volutpat tellus diam, consequat gravida libero rhoncus
                            ut. Morbi maximus, leo sit amet vehicula eleifend, nunc dui porta orci, quis semper odio
                            felis ut quam.</p>
                        <br>
                        <hr>
                        <div class="buttons ">
                            <button class="button is-primary">Checkout</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- 
        <div class="container">
            <div class="columns is-multiline">
                {% for product in products %}
                <div class="column is-one-quarter" style="display: block;">
                    <article class="tile is-child box">
                        <figure class="image is-128x128 is-flex is-centered">
                            <img class="image " src="{{product.image.url}}">
                            <script>console.log({{ product.image.url }})</script>
                        </figure>
                        <hr>
                        <h3 class="title is-5">{{ product.name }}</h3>
                        <p class="subtitle is-6">Item description.</p>
                        <p class="subtitle is-6" style="font-size:10px; color: hsl(171, 100%, 41%)!important;">30
                            cal.</small>
                        <div class="buttons ">
                            <button class="button is-primary">Add to cart</button>
                        </div>
                    </article>
                </div>

                {% endfor %}
            </div>
        </div> -->



    </div>
</div>
{% else %}
<article class="message is-danger" id="delete">
    <div class="message-header">
      <p>Attention</p>
      <button class="delete" aria-label="delete" onclick="myFunction()"></button>
    </div>
    <div class="message-body" >
        <ul class="messages">
            <li style="text-align:center;"> Please login/register to access this page </li>
        </ul> 
    </div>
</article>
{% endif %}


{% endblock content %}