{% extends 'main.html' %} {% block content %}


<div class="container">
  <div class="notification is-secondary">
    <div class="title">History</div>

      <div class="table-container">
        <table class="table">
          <thead>
            <tr>
              <th>User</th>
              <th>Order number</th>
              <th>Order date</th>
              <th>Items ordered</th>
              <th>Completion</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              {% for x in form %}
              <th>{{ x.customer }}</th>
              <th>{{ x.transaction_id }}</th>
              <th>{{ x.date_ordered }}</th>
              {% for y in formitems%}
              {% comment %} make it so the products items are a list. {% endcomment %}
              <th>{{ y.product }}</th>
              {% endfor %}
              <th>{{ x.complete }}</th>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
  </div>
</div>

{% endblock content %}
